      <div class="padding">
        <p><img src="img/logo.png" class="fullwidth"></p>
        <p>
          <img src="img/scan.png" class="fullwidth" ng-controller="ScanController" ng-click="scanBarcode()">
        </p>
        <div>
          <button class="button button-block  icon-right ion-qr-scanner button-balanced" ng-controller="ScanController" ng-click="scanBarcode()">
              Scansiona il codice
            </button>
        </div>
        <button class="button button-small button-light" ui-sref="intro">Visualizza tutorial</button>
      </div>
